.App{
  display: grid;
  grid-template-columns: 450px auto auto;
  grid-template-rows: 80px auto 50px;
  grid-template-areas: "nav nav nav"
      "aside main main";
  height: 100vh;
}


.footer {
  grid-area: footer;
  border: 1px solid rgb(122, 21, 176);
  text-align: center;

}